body 
{
   background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
   background-color: white;
   background-size: 1600px 742px;
   background-repeat: no-repeat;
   

}